.archive-container {
  padding: 0;
  width: 720px;
  margin: 0 auto;
}

.date {
    padding-left: 102px;
  font-size: 14px;
  color: #d1d5da;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

.file-name {
  color: #ff7518;;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 767.98px) {
    .date {
        padding-left: 0;
    }
    
  }
