.twitter-icon {
  color: orange;
}

.brand-name {
  color: #ff7518;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

.brand-name:hover {
  text-decoration: none;
  cursor: default;
  color: #ff7518;
  cursor: pointer;
}

.categorie {
  text-decoration: none;
  align-self: flex-end;
  font-size: 16px;
  color: #ff7518;
  height: auto;


}

.categorie:hover {
  text-decoration: none;
  cursor: default;
  color: #ff7518;
  cursor: pointer;
}

.navbar-container {
  padding-left: 0;
  padding-right: 0;
  width: 720px;
}

.navbar {
  background-color: black;
}

.navbar-nav {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-nav {
    width: 100%;
  }
  
}
